
.header-section{
    background-color: #FDEAEC;
}
.logo-area{
    width: 400px;
}
.menu-items a{
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    letter-spacing: 2px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    transition: .5s;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: red;
}

.navbar-light .navbar-toggler {
    color: gold;
    border-color: gold;
}


/* Responsive */

@media (max-width: 767px) {
    .logo-area{
        width: 200px;
    }
}