
.bannger-img{
    width: 380px;
    margin: 0 auto;
}
.bannger-img img{
    width: 100%;
}
.banner-text{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 100px;
}
.btn-regular{
    background: rgb(155, 7, 7);
    padding: 15px 50px;
    border: 2px solid rgb(155, 7, 7);
    border-radius: 20px;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
    color: #fff;
    transition: .5s;
}
.btn-regular:hover{
    background-color: transparent;
    color: rgb(155, 7, 7);
}


/* Responsive */

@media (max-width: 767px) {
    .bannger-img{
        width: 280px;
        margin: 0 auto;
    }
    .banner-text{
        font-size: 30px;
        margin-top: 50px;
    }
    .btn-regular{
        padding: 8px 30px;
        font-size: 30px;
        margin-bottom: 40px;
    }
}